.displayContentModal {
    color: #fff;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.displayContentModal-content {
    background-color: #141414;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: .7rem;
    width: 50%;
}

.displayContentModal-player {
    width: 100%;
    height: 35rem;
}

.displayContentModal-player > img {
    width: 100%;
    height: 100%;
}

.displayContentModal-wrapper {
    padding: 0 3rem;
}

.displayContentModal-info {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 1.5rem;
    position: relative;
}

.accordion-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.accordion-grid-container > div {
    background-color: #2f2f2f;
}

.card {
    --card-radius: .8rem;
    --card-h-padding: .6rem;
    border-radius: var(--card-radius);
    overflow: hidden;
    height: 18.5rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.card-img {
    position: relative;
    width: 100%;
    flex: 1.5;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.card-img > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.card > .card-metadata{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--card-h-padding);
}

.card > .card-overview {
    flex: 2;
    position: relative;
}

.card-overview > p {
    margin: 0;
    position: absolute;
    top: 0;
    padding: 0 var(--card-h-padding);

    display: -webkit-box;
    line-clamp: 7;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
}

.list-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.list-head {
    color: #777;
}

.list-content > a {
    text-decoration: none;
    color: #fff;
}

.list-content:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}