* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel-slider {
    display: flex;
    flex-grow: 1;
    margin: 0 .25rem;
    transform: translateX(-00%);
}

.carousel-slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16 / 9;
    border-radius: 1.25rem;
    padding: .25rem;
}

.carousel-handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: 7rem;
    background-color: red;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
    margin: .25rem 0;
    cursor: pointer;
    font-size: 5rem;
    color: transparent;
    line-height: 0;
    padding: 0 .5rem;
    transition: background-color 150ms ease-in-out;
}

.carousel-left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel-right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-handle:hover {
    background-color: rgba(0, 0, 0, .5);
}

.carousel-text {
    transition: transform 150ms ease-in-out;
    text-align: center;
}

.carousel-handle:hover .carousel-text {
    transform: scale(1.2);
}

.carousel-container:hover .carousel-handle {
    visibility: visible;
}

.carousel-container:hover .carousel-handle{
    color: #fff;
}