* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.carousel-slider {
    --items-per-screen: 2;
    display: flex;
    flex-grow: 1;
    margin: 0 .25rem;
    transform: translateX(-00%);
}

.carousel-slider > img {
    flex: 0 0 calc( 100% / var(--items-per-screen));
    max-width: calc( 100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    border-radius: 1.25rem;
    padding: .25rem;
}

.carousel-handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: 7rem;
    background-color: red;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
    margin: .25rem 0;
    cursor: pointer;
    font-size: 5rem;
    color: transparent;
    line-height: 0;
    padding: 0 .5rem;
    transition: background-color 150ms ease-in-out;
}

.carousel-left-handle {
    visibility: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel-container:hover .carousel-left-handle {
    visibility: hidden;
}

.carousel-right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-handle:hover {
    background-color: rgba(0, 0, 0, .5);
}

.carousel-text {
    transition: transform 150ms ease-in-out;
    text-align: center;
}

.carousel-handle:hover .carousel-text {
    transform: scale(1.2);
}

.carousel-container:hover .carousel-handle {
    visibility: visible;
}

.carousel-container:hover .carousel-handle{
    color: #fff;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3.25rem;
}

.carousel-title {
    color: #fff;
    font-family: monospace;
}

.carousel-progress-bar {
    display: flex;
    gap: .25rem;
}

.bar {
    width: .5rem;
    height: .25rem;
    background-color: #96909037;
    transition: background-color 250ms ease-in-out;
}

.bar-active {
    background-color: #fff;
}

@media (max-width: 500px) {
    .carousel-slider {
        --items-per-screen: 2;
    }
}



@media (min-width: 501px) and (max-width: 800px) {
    .carousel-slider {
        --items-per-screen: 3;
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    .carousel-slider {
        --items-per-screen: 4;
    }
}

@media (min-width: 1101px) and (max-width: 1400px) {
    .carousel-slider {
        --items-per-screen: 5;
    }
}

@media (min-width: 1401px) {
    .carousel-slider {
        --items-per-screen: 6;
    }
}