.genresList {
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: .7rem 1rem;
    width: 100%;
}

.genresList > span {
    position: relative;
}

.genresList > .genreList-separator {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #bcbcbc;
}