:root {
    --laptop-width : 1440px;
    --large-tablet-width: 1024px;
    --small-tablet-width: 834px;
    --large-movile-width: 768px;
    --small-mobile-width: 480px;
}

* {
    box-sizing: border-box;
    font-family:  'Helvetica Neue', 'Segoe UI', Roboto,'Open Sans', sans-serif;
}

body {
    background-color: #141414;
    overflow-x: hidden;
}

#root {
    display: grid;
}

#root > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.container-carousels {
    margin-top: 85vh;
}

.container-carousels > * {
    margin-bottom: 6rem;
}

img {
    height: 50px;
    width: 50px;
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: .8rem;
    background: #fff;
    color: #000;
    width: 7rem;
    padding: .7rem .5rem;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}