.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100vw;
    z-index: 100;

    color: #fff;
    animation: nav-animation linear both;
    animation-timeline: scroll(root);
    animation-range: 0 10px;
}

.nav a,
.nav svg {
    text-decoration: none;
    color: #fff;
}

@keyframes nav-animation {
    to {
        background: black;
        color: white;
    }
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left > .nav-logo {
    font-size: large;
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right > button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.nav-list > li> a:hover {
    color: #b3b3b3;
}

.nav-menu {
    display: none;
    position: relative;
}

.nav-menu-dropdown {
    display: none;
    position: absolute;
    top: 30px;
    background-color: black;
    min-width: 300px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-menu:hover .nav-menu-dropdown,
.nav-menu-dropdown:hover {
    display: block;
    opacity: 1;
}

.nav-notification-dropdown {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    top: 30px;
    background-color: black;
    min-width: 300px;
    opacity: 0;
    /* transition: opacity 0.3s ease; */
    z-index: 999;
}

.nav-notification-btn {
    position:relative;
}

.nav-notification-btn:hover + .nav-notification-dropdown,
.nav-notification-dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.nav-config {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-config > img {
    border: solid 0px #fff;
    border-radius: 10px;
    background-color: rgba(207, 51, 51, 0.762);
}

.nav-config > .submenu-profile {
    visibility: hidden;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    
    background-color: black;
    min-width: 15rem;
    opacity: 0;
    
    z-index: 999;
}

.nav-config:hover .submenu-profile {
    visibility: visible;
    opacity: 1;
}

.nav-config:hover .caret {
    transform: rotate(180deg);
}

.submenu-profile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-inline: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    gap: .5rem;
}

.submenu-profile li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.caret {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 10px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
}

@media (max-width:1000px) {
    .nav-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
}